body {
  margin: 0 auto;
  padding: 0px;
  background-color: #cccccc;
  background-position: center top;
  height: 100%;
  text-align: left;
  vertical-align: top;
  background-image: url(../../P2.png);
  background-repeat: no-repeat;
  list-style-image: url();
}